<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.vp.cn.smalllibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FlowableActivity">

        </activity>
        <activity android:name="app.vp.cn.rxjava.RxJavaActivity"></activity>
        <activity android:name=".BooleanOperaterActivity"></activity>
        <activity android:name=".FilterActivity" />
        <activity android:name=".FunctionOperateActivity" />
        <activity android:name=".ConcatOperateActivity" />
        <activity android:name=".ChangeOperateActivity">

        </activity>
        <activity android:name=".CreateOperatorRxjavaActivity"></activity>
        <activity android:name=".BaseRxJavaActivity" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>