<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.vp.cn.profession">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="app.vp.cn.common.app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".CropActivity" >

        </activity>
        <activity android:name=".ChouTiActivity" />
        <activity android:name=".PresenterActivity" />
        <activity android:name=".HandlerThreadActivity" />
        <activity android:name=".DragListViewActivity" />
        <activity android:name=".DragListActivity" />
        <activity android:name=".DragSortListActivity" />
        <activity android:name=".FirstActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"></activity>
    </application>

</manifest>